*
{
  touch-action: none;
}

.container
{
  background: black;
  width: 100%;
  height: 100%;
}
.animation
{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  opacity: 1;
}
.maindisplay
{
  padding-top: 25vmin;
  font-weight: 400;
  font-size: 20vmin;
  color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.seconddisplay
{
  padding-bottom: 35vmin;
  font-weight: 200;
  font-size: 5vmin;
  color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
